<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DM Apps</title>
</head>

<body>

    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                DM Apps
            </h1>
        </div>
        <a id="menu" class="header__menu">☰</a>
    </header>

    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="index.html">Home</a></li>
            <li class="nav__item"><a href="#">Favorite</a></li>
            <li class="nav__item"><a href="https://www.linkedin.com/in/dedeherman">About Us</a></li>
        </ul>
    </nav>

    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">Temukan Cafe Favorite Anda disini</h1>
            <p class="hero__tagline">Cintailah menu-menu khas Indonesia untuk melestarikan budaya bangsa.</p>
        </div>
    </div>

    <main>
        <div class="latest">
            <h1 class="latest__label">Explore Restaurant</h1>
            <div class="posts">

                <article class="post-item">
                    <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41" alt="Bring Your Phone Cafe">
                    <div class="post-item__content">
                        <p>Kota: Medan <br> Rating: 4.6 </p>
                        <h3 class="post-item__title">Bring Your Phone Cafe</h3>
                        <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                            eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis
                            pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat
                            a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
                    </div>
                </article>

                <article class="post-item">
                    <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07" alt="run teh gun">
                    <div class="post-item__content">
                        <p>Kota: Bali <br> Rating: 4.6 </p>
                        <h3 class="post-item__title">Run Teh Gun</h3>
                        <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                            eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis
                            pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat
                            a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
                    </div>
                </article>

                <article class="post-item">
                    <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/29" alt="pangsit express">
                    <div class="post-item__content">
                        <p>Kota: Ternate <br> Rating: 4.8 </p>
                        <h3 class="post-item__title">Pangsit Express</h3>
                        <p class="post-item__description"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                            eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis
                            pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat
                            a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                        </p>
                    </div>
                </article>

                <article class="post-item">
                    <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/38" alt="Ducky Duck">
                    <div class="post-item__content">
                        <p>Kota: Malang <br> Rating: 4.7 </p>
                        <h3 class="post-item__title">Ducky Duck</h3>
                        <p class="post-item__description"> But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the
                            master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
                            Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
                        </p>
                    </div>
                </article>

                <article class="post-item">
                    <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/40" alt="Kafein">
                    <div class="post-item__content">
                        <p>Kota: Bali <br> Rating: 3.8 </p>
                        <h3 class="post-item__title">Kafein</h3>
                        <p class="post-item__description"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                            eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis
                            pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat
                            a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                        </p>
                    </div>
                </article>

                <article class="post-item">
                    <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/08" alt="Makan Mudah">
                    <div class="post-item__content">
                        <p>Kota: Malang <br> Rating: 4.6 </p>
                        <h3 class="post-item__title">Makan Mudah</h3>
                        <p class="post-item__description"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                            eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis
                            pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat
                            a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                        </p>
                    </div>
                </article>

                <article class="post-item">
                    <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/32" alt="Saya Suka">
                    <div class="post-item__content">
                        <p>Kota: Surabaya <br> Rating: 3.6 </p>
                        <h3 class="post-item__title">Saya Suka</h3>
                        <p class="post-item__description"> But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the
                            master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
                            Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
                        </p>
                    </div>
                </article>

                <article class="post-item">
                    <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/45" alt="Gigitan Cepat">
                    <div class="post-item__content">
                        <p>Kota: Aceh <br> Rating: 4 </p>
                        <h3 class="post-item__title">Gigitan Cepat</h3>
                        <p class="post-item__description"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                            eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis
                            pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat
                            a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                        </p>
                    </div>
                </article>

                <article class="post-item">
                    <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/04" alt="Fairy Cafe">
                    <div class="post-item__content">
                        <p>Kota: Malang <br> Rating: 3.9 </p>
                        <h3 class="post-item__title">Fairy Cafe</h3>
                        <p class="post-item__description"> But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the
                            master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
                            Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
                        </p>
                    </div>
                </article>

            </div>
        </div>
    </main>

    <footer>
        <p> Copyright &copy; 2021 - DM Apps | All rights reserved.</p>
    </footer>
    </div>
</body>

</html>