<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DM Apps</title>
</head>

<body>
    <div class="content">
        <nav>
            <div class="header">
                <div class="header-logo">
                    DM Apps
                </div>
                <div class="header-list">
                    <ul>
                        <li><a href="https://www.linkedin.com/in/dedeherman">About Us</a></li>
                        <li><a href="#">Favorite</a></li>
                        <li><a href="index.html">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <br><br>
        <header>

            <div id="image_div">
                <img src="./images/heros/hero-image_2.jpg">
                <p id="image_label"><span>Find Your Favorite Cafe Here</span></p>
            </div>
        </header>

        <main>
            <div class="main">
                <h1>Explore Restaurant</h1>
                <div class="grid-container">
                    <div class="grid-item">
                        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41" alt="">
                        <p>Kota: Medan <br> Rating: 4.6 <br>
                            <h3>Bring Your Phone Cafe</h3> <br> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                            justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam
                            lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                        </p>
                    </div>
                    <div class="grid-item">
                        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07" alt="">
                        <p>Kota: Bali <br> Rating: 4.6 <br>
                            <h3>Run Teh Gun</h3> <br> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                            felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                            Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
                            ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                        </p>
                    </div>
                    <div class="grid-item">
                        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/29" alt="">
                        <p>Kota: Ternate <br> Rating: 4.8 <br>
                            <h3>Pangsit Express</h3> <br> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                            quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                            Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
                            ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                        </p>
                    </div>

                    <div class="grid-item">
                        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/38" alt="">
                        <p>Kota: Malang <br> Rating: 4.7 <br>
                            <h3>Ducky Duck</h3> <br> But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great
                            explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences
                            that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great
                            pleasure.
                        </p>
                    </div>
                    <div class="grid-item">
                        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/40" alt="">
                        <p>Kota: Bali <br> Rating: 3.8 <br>
                            <h3>Kafein</h3> <br> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
                            dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                            dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                        </p>
                    </div>
                    <div class="grid-item">
                        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/08" alt="">
                        <p>Kota: Malang <br> Rating: 4.6 <br>
                            <h3>Makan Mudah</h3> <br> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                            felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                            Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
                            ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                        </p>
                    </div>

                    <div class="grid-item">
                        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/32" alt="">
                        <p>Kota: Surabaya <br> Rating: 3.6 <br>
                            <h3>Saya Suka</h3> <br> But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great
                            explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences
                            that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great
                            pleasure.
                        </p>
                    </div>
                    <div class="grid-item">
                        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/45" alt="">
                        <p>Kota: Aceh <br> Rating: 4 <br>
                            <h3>Gigitan Cepat</h3> <br> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                            felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                            Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
                            ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                        </p>
                    </div>
                    <div class="grid-item">
                        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/04" alt="">
                        <p>Kota: Malang <br> Rating: 3.9 <br>
                            <h3>Fairy Cafe</h3> <br> But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great
                            explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences
                            that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great
                            pleasure.
                        </p>
                    </div>
                </div>
        </main>

        <footer>
            <p> Copyright &copy; 2021 - DM Apps | All rights reserved.</p>
        </footer>
        </div>
</body>

</html>
